body {
	background: #f7f7f7;
	color: #444;
}
h1 {
	font-family: "Museo Slab";
	font-size: 64px;
	font-weight: 100;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.15), 1px 1px 1px white;
}