@font-face {
    font-family: 'Museo Slab';
    src: url('museo-slab-100.eot');
    src: url('museo-slab-100.eot?#iefix') format('embedded-opentype'),
         url('museo-slab-100.woff') format('woff'),
         url('museo-slab-100.ttf') format('truetype'),
         url('museo-slab-100.svg#museo-slab-100') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Slab';
    src: url('museo-slab-100-italic.eot');
    src: url('museo-slab-100-italic.eot?#iefix') format('embedded-opentype'),
         url('museo-slab-100-italic.woff') format('woff'),
         url('museo-slab-100-italic.ttf') format('truetype'),
         url('museo-slab-100-italic.svg#museo-slab-100-italic') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Museo Slab';
    src: url('museo-slab-500.eot');
    src: url('museo-slab-500.eot?#iefix') format('embedded-opentype'),
         url('museo-slab-500.woff') format('woff'),
         url('museo-slab-500.ttf') format('truetype'),
         url('museo-slab-500.svg#museo-slab-500') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Slab';
    src: url('museo-slab-500-italic.eot');
    src: url('museo-slab-500-italic.eot?#iefix') format('embedded-opentype'),
         url('museo-slab-500-italic.woff') format('woff'),
         url('museo-slab-500-italic.ttf') format('truetype'),
         url('museo-slab-500-italic.svg#museo-slab-500-italic') format('svg');
    font-weight: 500;
    font-style: italic;
}